# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.venv/

# VS Code
.vscode/

# Django
db.sqlite3
media/
staticfiles/

# Local data dumps
mysql.sql

# Environment variables
.env

# Logs
*.log

# Runtime files
*.sock
*.ctl
# Node / Frontend
node_modules/
dist/
frontend/dist/
frontend/node_modules/
